packaging
ninja
diffusers
transformers
tokenizers
accelerate
safetensors
opencv-python
numpy
imageio
imageio-ffmpeg
einops
loguru
ftfy
gradio
aiohttp
pydantic
torchao
triton-windows
prometheus_client
gguf
modelscope
